<h4>customer-edit</h4>

<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
            *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" (click)="productDetails()"><mat-icon>info</mat-icon></a>
    </div>
    <mat-card class="example-card">
        <form [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Customer Title" formControlName="title"
                        [errorStateMatcher]="matcher">
                <mat-error>
                <span *ngIf="!editForm.get('title').valid && editForm.get('title').touched">Please enter Customer Title</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Product Desc" formControlName="desc"
                        [errorStateMatcher]="matcher">
                <mat-error>
                <span *ngIf="!editForm.get('desc').valid && editForm.get('desc').touched">Please enter Description</span>
                </mat-error>
            </mat-form-field>
        
            <div class="button-row">
                <button type="submit" [disabled]="!editForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
            </div>
        </form>
    </mat-card>
</div>