<h4>Customer Details</h4>


<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/customers']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card"  *ngIf="!isLoadingResults">
        <mat-card-header>
            <mat-card-title><h2>{{customer.name}}</h2></mat-card-title>
            <mat-card-subtitle>Location: <b>{{customer.location}}</b></mat-card-subtitle>
            <mat-card-subtitle>Contact: <b>{{customer.personOfContact}}</b></mat-card-subtitle>
            <mat-card-subtitle>NUmber of Employees: <b>{{customer.employees}}</b></mat-card-subtitle>
            <mat-card-subtitle>Telephone: <b>{{customer.telephone}}</b></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions >
            <a mat-flat-button color="primary" [routerLink]="['/customer-edit', customer._id]"><mat-icon>edit</mat-icon></a>
            <a mat-flat-button color="warn" (click)="deleteProduct(customer._id)"><mat-icon>delete</mat-icon></a>
        </mat-card-actions>
    </mat-card>
</div>